/*Testing*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: serif;
    /* border-style: dotted; */
}

body {
    background-color: #141414;
}

.background {
    margin-top: 5vw;
}

.center-stuff {
    display: flex;
    justify-content: center;
}

.title {
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}

.text {
    color: white;
    font-size: 1.3em;
}

.grid-letters {
    margin-top: 1em;
    margin-right: 2em;
}

.checkboxes {
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.input-container {
    margin-top: 1em;
}

.char-length {
    margin-right: .5em;
}

.inputBox {
    resize: none;
}

.main-password-box {
    resize: none;
    margin-bottom: 2em;
}

.old-password-container {
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.password-saved {
    resize: none;
    margin-bottom: 1.5em;
    overflow-y: break-word;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/*Checkbox Animation*/

@keyframes pop {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes unpop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.input {
    position: relative;
    width: 20px;
    height: 17px;
    animation: unpop 200ms ease-in;
}

.input:checked {
    accent-color: black;
    animation: pop 200ms ease-in;
}


/*Char input box styling*/

.inputBox {
    max-width: 190px;
    height: 30px;
    border: 1px solid transparent;
    outline: none;
    background-color: #141414;
    border-bottom: 3px solid #2c2c2c;
    color: rgb(255, 255, 255);
    padding-left: 2px;
}

.inputBox::placeholder {
    color: rgb(180, 180, 180);
}

.inputBox:hover::placeholder {
    color: rgb(255, 255, 255);
    transition: color 200ms ease-in;
}

.inputBox:focus::placeholder {
    color: rgb(255, 255, 255);
}

.inputBox:focus {
    color: rgb(255, 255, 255);
    border-bottom: 3px solid #ffffff;
    transition: border-bottom 150ms ease-in;
}

/*Generate Password Button*/

@keyframes button-pop {
    0% {
        border-color:#2c2c2c;
        background-color: rgb(150, 2, 2);
        color: rgb(180, 180, 180);
        border-width: .2em;
        transform: scale(1);
    }

    100% {
        border-color:#000000;
        background-color: rgb(190, 0, 0);
        color: white;
        border-width: .2em;
        transform: scale(1.1);
    }
}

@keyframes unpop-button {
    0% {
        border-color:#000000;
        background-color: rgb(190, 0, 0);
        color: white;
        border-width: .2em;
        transform: scale(1.1);
    }

    100% {
        border-color:#2c2c2c;
        background-color: rgb(150, 2, 2);
        color: rgb(180, 180, 180);
        border-width: .2em;
        transform: scale(1);
    }
}

@keyframes clicked {
    0% {
        border-color:#000000;
        background-color: rgb(190, 0, 0);
        color: white;
        border-width: .2em;
        transform: scale(1.1);
    }
    50% {
        transform: scale(.9);
    }
    100% {
        border-color:#000000;
        background-color: rgb(190, 0, 0);
        color: white;
        border-width: .2em;
        transform: scale(1.1);
    }
}

.gen-button {
    border-color:#2c2c2c;
    background-color: rgb(150, 2, 2);
    border-radius: 10px;
    color: rgb(180, 180, 180);
    padding: .5em;
    font-size: 1.5em;
    border-width: .2em;
    border-style: solid;
    animation: unpop-button 200ms ease-in;
}

.gen-button:hover {
    animation-delay: 1s;
    animation: button-pop 200ms forwards;
}

.gen-button:active {
    animation: clicked 200ms forwards;
}

/*Password textbox styling*/

.password-textbox {
    padding: .2em;
    color: white;
    border: 3px solid transparent;
    border-bottom: 3px solid #2c2c2c;
    outline: none;
    background-color: #141414;
    transition: border 200ms ease-in;
}

.password-textbox:hover {
    border: 3px solid transparent;
    border-color: #2c2c2c;
    transition: all 200ms ease-in;
}


/*Copy button styling*/
@keyframes copy-pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.copy-button{
    width: 5em;
    height: 2.2em;
    position: absolute;
    color: rgb(180, 180, 180);
    border: 3px solid transparent;
    margin-left: 10px;
    background-color: #141414;
}

.copy-button:hover {
    border-color: #2c2c2c;
    color: white;
}

.copy-button:active {
    border-color: rgb(22, 90, 22);
    animation: copy-pop 100ms ease-in;
}

/*Reactive Code*/
@media only screen and (max-width: 590px) {
    .input-container {
        flex-direction: column;
        align-items: center;
    }

    .char-length {
        justify-content: center;
    }   

    .gen-button {
        margin-top: 2%;
    }
}

@media only screen and (max-width: 400px) {
    .add-margin {
        margin-left: 20%;
        margin-right: 20%;
    }
}